.App-header {
	margin: 20px 0;
}

.App-logo {
	max-width: 220px;
	border-radius: 18px;
	box-shadow: 3px 3px 20px 5px rgb(243, 231, 233);
	display: block;
	margin: 0 auto;
}

.App footer {
	color: #f70ca9;
	font-size: small;
	text-align: center;
	margin: 20px 0;
}
