body {
	font-family: "Handlee", cursive;
}

a {
	color: #c87caf;
}

.App {
	width: 75%;
	margin: 0 auto;
}

.App-header {
	margin: 16px 0;
}

.App-logo {
	max-width: 350px;
	border-radius: 80px;
	box-shadow: 5px 5px 15px 5px rgb(243, 231, 233);
	display: block;
	margin: 0 auto;
	padding: 8px;
	opacity: 0.8;
}

.App footer {
	color: #384f82;
	font-size: small;
	font-weight: bolder;
	text-align: center;
	margin: 10px 0;
}
