.Dictionary section {
	background: linear-gradient(
		109.6deg,
		rgb(255, 221, 225) 11.2%,
		rgb(255, 255, 255) 90.2%
	);
	margin: 14px auto;
	padding: 15px;
	border: 1px solid rgb(118, 126, 102);
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgb(164, 143, 144);
}

.Dictionary input {
	padding: 7px 7px;
	color: #5d5e5a;
}

.Dictionary .hint {
	font-size: 11px;
	margin-top: 4px;
}
